<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css" />

  <title>Página Inicial - Biblioteca Sr. Alex Ferguson</title>

  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #afafaf;
    }

    .navbar {
      overflow: hidden;
    }

    .navbar a {
      color: black;
      text-align: center;
      padding: 2rem;
      text-decoration: none;
    }

    .container {
      margin-top: 2%;
      padding: 20px;
      width: 60%;
      border: 1px solid black;
      border-radius: 15px;
      background-color: #dddddd;
    }

    table {
      width: 100%;
    }
  </style>

</head>

<body>
  <div class="navbar d-flex justify-content-between align-items-center">
    <div class="navbar-left">
      <a href="/login">Página Inicial</a>
      <a href="/busca">Procurar livros</a>
    </div>
    <div class="navbar-right">
      <a href="/"> <b>Sair</b> </a>
    </div>
  </div>

  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-center">Seus livros</h3>
    {{#if livro}}
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Autores</th>
          <th scope="col">Ano</th>
          <th scope="col">Editora</th>
        </tr>
      </thead>
      <tbody>
        {{#each livro}}
        <tr>
          <th scope="col">{{this.titulo}}</th>
          <td>{{this.autores}}</td>
          <td>{{this.ano}}</td>
          <td>{{this.editora}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div>Você não possui livros!</div>
    {{/if}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    function verificarURL() {

      if (!window.location.href.includes(`/login`)) {
        const newUrl = `/login`;

        setTimeout(function () {
          document.getElementById("mensagem").style.display = 'none';
          window.location.href = newUrl;

        }, 1800);
      }
    }
    window.onload = verificarURL;
  </script>
</body>

</html>